export PROJECT_ROOT=$(git rev-parse --show-toplevel)

# Use nix-direnv for caching/persistence:
if ! has nix_direnv_version || ! nix_direnv_version 3.0.4; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.4/direnvrc" "sha256-DzlYZ33mWF/Gs8DDeyjr8mnVmQGx7ASYqA5WlxwvBG4="
fi

if [ "$(uname -s)" == "Darwin" ]; then
  APPLE_FIX="--system x86_64-darwin";
fi

if use flake . --accept-flake-config --no-warn-dirty $APPLE_FIX; then
  # Build cabal project locally
  export CABAL_DIR="$PROJECT_ROOT/.cabal"
  export CABAL_CONFIG="$CABAL_DIR/config"

  # Create symlink to Nix HLS binary (prevents conflict with GHCup binaries)
  hls_bin=$(which haskell-language-server)

  if [ -n $hls_bin ]; then \
    ln -s -f $hls_bin .vscode/haskell-language-server.link; \
  else echo "haskell-language-server not found!"; \
  fi
fi